<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * DreamChurners Website  ** * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- app/app.component.html -->
<!--
<h1>
  {{title}}
</h1>
-->

<p>
  <mat-toolbar>
    <img src="./assets/dc-logo-mini.jpg">
    &nbsp; &nbsp; 
    <span><h1>DreamChurners</h1></span>
  </mat-toolbar>
</p>

<!--
<section>
  <div class="example-button-row">
    <button mat-stroked-button color="primary">
       <a [routerLink]="['home']" routerLinkActive="active">Home</a>
    </button>
    <button mat-stroked-button color="primary">
       <a [routerLink]="['home']" routerLinkActive="active">About us</a>
    </button>
    <button mat-stroked-button color="primary">
       <a [routerLink]="['home']" routerLinkActive="active">Services</a>
    </button>
    <button mat-stroked-button color="primary">
       <a [routerLink]="['home']" routerLinkActive="active">Services</a>
    </button>
  </div>
</section>
-->

   <a mat-button color="primary"
   [routerLink]="['home']"
   routerLinkActive="active">HOME</a>
   <a mat-button color="primary"
   [routerLink]="['about']"
   routerLinkActive="active">ABOUT US</a>
   <a mat-button color="primary"
   [routerLink]="['services']"
   routerLinkActive="active">SERVICES</a>
   <a mat-button color="primary"
   [routerLink]="['contact']"
   routerLinkActive="active">CONTACT US</a>

<!--
<div class="video-player-wrapper">
  <h2>Watch Video by Dream Churners </h2>
  <vg-player>
    <vg-overlay-play></vg-overlay-play>
    <vg-buffering></vg-buffering>

    <vg-scrub-bar>
      <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
      <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
    </vg-scrub-bar>

    <vg-controls>
      <vg-play-pause></vg-play-pause>
      <vg-playback-button></vg-playback-button>

      <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

      <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>

      <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
      <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

      <vg-track-selector></vg-track-selector>
      <vg-mute></vg-mute>
      <vg-volume></vg-volume>

      <vg-fullscreen></vg-fullscreen>
    </vg-controls>

    <video [vgMedia]="media" #media id="singleVideo" preload="auto" crossorigin>
      <source src="./assets/dc_intro.mp4" type="video/mp4">
      <source src="./assets/dc_intro.ogg" type="video/ogg">
      <source src="./assets/dc_intro.webm" type="video/webm">
      <track kind="subtitles" label="English" src="http://static.videogular.com/assets/subs/pale-blue-dot.vtt"
        srclang="en" default>
      <track kind="subtitles" label="Español" src="http://static.videogular.com/assets/subs/pale-blue-dot-es.vtt"
        srclang="es">
    </video>
  </vg-player>

</div>
-->

<app-page></app-page>

<router-outlet></router-outlet>
